/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$dark-primary: mat-palette($mat-grey, 900);
$dark-accent:  mat-palette($mat-grey, 800);
$dark-card:    mat-palette($mat-blue, 900);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-card);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);