<h2 mat-dialog-title class="center">Sign in</h2>

<form>
  <div>
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" name="email" [(ngModel)]=data.email>
    </mat-form-field>
  </div>
  <div>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]=data.password>
      </mat-form-field>
  </div>
</form>

<mat-dialog-actions class="right">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="data">Submit</button>
</mat-dialog-actions>
