.background {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
};

.footer {
    background-color: #4B515D;
    height: 95px;
}

.footer-icons {
    height: 40px;
    width: 40px;
}

.icon-pos {
    margin-top: 20px;
}