<div class="background" [ngStyle]="{'background-image': 'url(' + image + ')'}">
</div>

<div class="container">
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
            <h4> About Author </h4>
        </div>
        <div class="row">
            <br>
            My name is Julian Ouyang. I am located in Houston, TX.<br>
            Recently, I graduated from Rice University with a Master degree in Computer Science.<br>
            I also have a bachelor degree in Mathematics from University of Wyoming.<br>
            In 2018, I did my internship as a software engineer in Schlumberger.<br>
            In 2019, I joined Interactive Network Technologies as a full time software engineer.<br>
            Right now, I focus on 3D/graphics, using technologies such as WebGL/OpenGL, C++, and JavaScript.
        </div>
        <div class="row">
            <div class="col">
                <!-- photos -->
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<footer class="footer">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-3 h-100">
                <div class="row align-items-center h-100">
                    <div class="col">
                        <a href="https://github.com/Julianouyang" title="GitHub">
                            <img class="footer-icons" src="../../assets/icons/github.svg">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/junliang-ouyang-033b1b6a/" title="LinkedIn">
                            <img class="footer-icons" src="../../assets/icons/linkedin.svg">
                        </a>
                    </div>
                    <div class="col">
                        <a href="mailto:oyjl616@gmail.com" title="Contact Me">
                            <img class="footer-icons" src="../../assets/icons/gmail.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md h-100 offset-md-7">
                <table style="height: 100px;">
                    <tbody>
                        <tr>
                            <td class="align-middle">@2019 Copyright</td>
                            <!-- <td class="align-bottom">bottom</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</footer>